.home-page {
    min-height: 100vh;
    background-image: url("/src/assets/home-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.home-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* Content styling */
.home-page .inner-content-container {
    /* Center the content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
    z-index: 2; /* Place content above the overlay */
}

.home-page h1 {
    color: var(--color-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better readability */
}

.home-page p {
    color: var(--color-white);
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional: add shadow for better readability */
}