.page-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-navigation {
  font-family: 'Figtree', sans-serif;
  font-size: 20px;
  background-color: var(--color-primary);
  padding: 16px 0;
  border: 2px solid red;
  flex-shrink: 0;
}

.main-navigation img {
  width: 50px;
  align-content: flex-start;
}

.inner-nav-container {
  flex-basis: 1400px;
  flex-shrink: 1;
  flex-grow: 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 2px solid red;
}
.nav-home {
border: 2px solid red;
  margin-right: 20px;
}

.main-navigation-links {
  list-style: none;
  flex-basis: 450px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid red;
}

.footer-navigation {
  font-family: 'Figtree', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  padding: 32px 0;
  font-weight: 600;
}

.main-navigation-links .active-link {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}

.main-navigation-links .default-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}