.page-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container img {
  width: 500px;
}

.main-navigation {
  font-family: 'Figtree', sans-serif;
  font-size: 20px;
  background-color: var(--color-primary);
  padding: 14px 0;
}

.inner-nav-container {
  flex-basis: 1400px;
  flex-shrink: 1;
  flex-grow: 0;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-navigation-logo-button {
  background-color: transparent;
  border: none;
  max-width: 200px;
}

.main-navigation-links {
  list-style: none;
  flex-basis: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-navigation {
  font-family: 'Figtree', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  padding: 32px 0;
  font-weight: 600;
}

.main-navigation-links .active-link {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}

.main-navigation-links .default-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.search-bar {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  width: 600px;
  margin-left: 20px;
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* .main-navigation-links .active-link:hover,
.main-navigation-links .default-link:hover {
  color: var(--color-primary);
}