@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #A46538;
  --color-secondary: #446218;
  --color-tertiary: #608923;
  --color-secondary-light: #6E9d29;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

html, body {
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

body {
  height: 100%;
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Figtree', sans-serif;
}

h1 {
  font-size: 5.2em;
  line-height: 1.1;
}

h2 {
  margin-block: 2.3em;
}

h3 {
  margin-block: 1.6em;
}

h4 {
  margin-block: 1.33em;
}

p {
  font-size: 1.2em;
  margin-block: 0.5em;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

/*----------- INNER- EN OUTER CONTAINERS ------------------- */

.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Brede inner container*/
.inner-content-container {
  flex-basis: 1400px;
  flex-shrink: 1;
  flex-grow: 0;
  align-items: center;
}

/* Smalle inner container voor tekst etc. */
.inner-content-container__text-restriction {
  flex-basis: 1000px;
  flex-shrink: 1;
  flex-grow: 0;
  align-items: flex-start;
}

.inner-content-container,
.inner-content-container__text-restriction {
  margin: 0 20px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
}